body {
    background: linear-gradient(90deg, rgb(237, 248, 76) 0%, rgb(255, 187, 0)); 
}

#navbar {
    background: linear-gradient(90deg, rgb(135, 206, 235) 0%, rgb(51, 17, 90));

}

#navbar .navbar-brand {
    margin-left: 20px;
    
}

.collapse navbar-collapse {
    background: linear-gradient(90deg, rgb(135, 206, 235) 0%, rgb(51, 17, 90));
}

.navbar-nav {
    margin-right: 50px;
}


.navbar-brand #logosm:hover {
    transition: all 0.3s ease !important;
    -webkit-transform: scale(1.7) !important;
    -ms-transform: scale(1.7) !important;
    transform: scale(1.7) !important;
    z-index: 2;
}

#hero {
    position: relative;
}


#hero video {
    align-items: center;
    height: 100vh;
    width: 100%;
    background-position: absolute;
    z-index: 20;
    object-fit: cover;
}

#hero .content {
    background:rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
}


h3 {
    text-align: center;
    color: rgb(51, 17, 90);
    
}

#main {
    background: #1c1c1c;
    margin: 0 auto;
    
}

#main .content h2 {
    color: rgb(51, 17, 90);
}

#main .content p {
    color: rgb(51, 17, 90);
}

.slide .change #logoinsta {
    filter: rgb(83, 0, 76) !important;
}

.slide .change #logoinsta:hover{ 
    transition: all 0.3s ease !important;
    -webkit-transform: scale(1.7) !important;
    -ms-transform: scale(1.7) !important;
    transform: scale(1.7) !important;
    z-index: 2;
}


#one {
    position: relative;
    margin: 3vw;
    padding: 30px;
    text-align: center
}



#footer {
    background: #1c1c1c;
    margin-top: 50px;
}


.card:hover {
    background: rgb(12, 52, 78);
    color: rgb(231, 208, 208);
    text-shadow: none !important;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50)!important;
    box-sizing: border-box !important;
    cursor: pointer !important;
    transition: all 0.3s ease !important;
    -webkit-transform: scale(1.1) !important;
    -ms-transform: scale(1.1) !important;
    transform: scale(1.1) !important;
    z-index: 2;
}

